


.button{
    
    -fx-font-family:Yu-Gothic;
    -fx-font-size:57px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #4c565e;
    -fx-border-radius: 0,0;
    -fx-border-color: #4c565e0;
}

.button:hover {
    
    -fx-background-color: #687177;
    
    
}



.button:pressed {
    -fx-background-color: #9a9e99;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
  
}

.AnchorPane {
    -fx-background-color:f1eeda;
    -fx-font-family:Yu-Gothic;
    -fx-alignment: CENTER;
    
    
    
}
.AnchorPane:top(TabPane).tab-header-area {
    
    -fx-background-color:#f1eeda;
    
    
}

.tab-header-background {
    -fx-background-color:#f1eeda;
    
}
.tab:top{
    -fx-background-color:#f1eeda;
    
    
}
.CourtButton {
    
    -fx-background-color:f1eeda ;
    -fx-text-fill: #000000;
    
}
.menuButton{
    
    
    -fx-border-radius:  0 50 50 0;
    -fx-background-radius: 0 50 50 0;
        
    
    
    
}

.Table-view{
    -fx-cell-size: 100px;
    
    
    
    
    
}
.Table-cell {
    
    fx-background:#e75244;
    
    
}


.list-view {
    -fx-background-color: #f1eeda;
    
}
.list-cell {
    
    -fx-background-color: #f1eeda;
    -fx-background-fills: #f1eeda;
}

.disponibleStyle{
    
    -fx-background-color: #94bf6e;
    -fx-font-size: 25px;
    -fx-alignment: CENTER;

}
.ocupadoStyle{
    
    -fx-background-color: #e75244;
    -fx-font-size: 25px;
    -fx-alignment: CENTER;
}

.horasStyle {
    
    -fx-font-size: 25px;
    -fx-alignment: CENTER;
    
}
.reservasTable {
    
    -fx-font-size: 20px;
    -fx-alignment: CENTER;
    
    
    
}

-reservasTable:nth-child(odd) {
    -fx-background-color: #39bca4;
    
    
}
.column-header {
    
    -fx-background-color: #f1eeda;
    
}
.title-text{
    
    -fx-font-size: 35px;
   
    
    
}
.label {
    
    -fx-text-fill: #4c565e;
    
}

.reservaBut{
    
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-font-size: 20px;
    
    
}
.actualizarbutton {
    -fx-font-size:30px
        ;
    
    
    
}

