














.button{
    
    -fx-background-color: #D0B7A0;
    -fx-border-radius: 0,0;
    -fx-border-color: #D0B7A0;
}
.button:hover {
    
    -fx-background-color: #BBA490;
}

.AnchorPane {
    -fx-background-color:#183034;
    
    
}

.vertical-grabber{
    
    -fx-background-color:#C6B09B;
}
.horizontal-grabber{
    
    -fx-background-color:#C6B09B;
}


.table-view{
    
    
    
    
    
}


.list-view {
    
    
}

.disponibleStyle{
    
    -fx-background-color: #0C971A;
    
    
    
}

