


.button{
    
    -fx-font-family:Yu-Gothic;
    -fx-font-size:57px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #39c0ba;
    -fx-border-radius: 0,0;
    -fx-border-color: #39c0ba;
}

.button:hover {
    
    -fx-background-color: #009d84;
    
    
}



.button:pressed {
    -fx-background-color: #138b7a;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
  
}

.date-picker{}


.AnchorPane {
    -fx-background-color:f1eeda;
    -fx-font-family:Yu-Gothic;
    -fx-alignment: CENTER;
    
    
    
}
.AnchorPane:top(TabPane).tab-header-area {
    
    -fx-background-color:#f1eeda;
    
    
}
.rellenoStyle {
    
    -fx-background-color: #39c0ba ;
    -fx-text-fill: #f1eeda;
    -fx-font-size: 25px;
    -fx-border-color: #39c0ba;
    -fx-alignment: CENTER;
    
    
}

.tab-header-background {
    -fx-background-color:#f1eeda;
    
}
.tab:top{
    -fx-background-color:#f1eeda;
    
    
}
.CourtButton {
    
    -fx-background-color:f1eeda ;
    -fx-text-fill: #000000;
    -fx-border-color: #f1eeda;
    
}
.CourtButton:hover{
    -fx-background-color: #39c0ba;
    -fx-text-fill: #f1eeda;
    
    
}
.CourtButton:pressed {
    
    
    
    -fx-background-color: #009d84;
    -fx-text-fill: #f1eeda;
    
}
.menuButton{
    
    
    -fx-border-radius:  0 50 50 0;
    -fx-background-radius: 0 50 50 0;
    
        
    
    
    
}

.disponibleStyle{
    
    -fx-background-color: #39c0ba;
    -fx-text-fill: #f1eeda;
    -fx-font-size: 25px;
    -fx-alignment: CENTER;

}
.defaultReservasStyle {
    
    
    -fx-background-color: #f1eeda;
    
}
.ocupadoStyle{
    
    -fx-background-color: #e75244;
    -fx-text-fill: #f1eeda;
    -fx-font-size: 25px;
    -fx-alignment: CENTER;
}

.horasStyle {
    
    -fx-font-size: 25px;
    -fx-alignment: CENTER;
    -fx-background-color:#f1eeda;
    
}
.reservasTable {
    -fx-background-color:#f1eeda ;
    -fx-font-size: 20px;
    -fx-alignment: CENTER;    
}

-reservasTable:nth-child(odd) {
    -fx-background-color: #39bca4;
    
    
}
.column-header {
    
    -fx-background-color: #f1eeda;
    
}
.title-text{
    
    -fx-font-size: 35px;
   
    
    
}
.label {
    
    -fx-text-fill: #4c565e;
    
}

.reservaBut{
    
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-font-size: 20px;
    
    
}
.actualizarbutton {
    -fx-font-size:30px
        ;
    
    
    
}

