.button{
    -fx-font-family:Yu-Gothic;
    -fx-font-size:57px;
    -fx-text-fill: #f1eeda;
    -fx-background-color: #742e46;
    -fx-border-radius: 0,0;
    -fx-border-color: #742e46;
}
.button:hover {
    
    -fx-background-color: #c12c42;
}
.button:pressed {
    -fx-background-color: #c8585d;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}


.AnchorPane {
    -fx-background-color: #2d2c41;
    -fx-font-family:Yu-Gothic;
    -fx-alignment: CENTER;
    -fx-font-size:20px;
    -fx-text-fill: #f1eeda;
}
.AnchorPane:top(TabPane).tab-header-area {
    -fx-background-color:#2d2c41;

}
.rellenoStyle {
    -fx-background-color: #742e46 ;
    -fx-text-fill: #f1eeda;
    -fx-font-size: 25px;
    -fx-border-color: #742e46;
    -fx-alignment: CENTER;
}
.rellenoStyle:hover{
    
    -fx-background-color: #c8585d ;
}
.table-row-cell {
    -fx-background-color: #c8585d ;
    
}
.tab-header-background {
    -fx-background-color:#2d2c41;
}
.tab:top{
    -fx-background-color:#2d2c41;

}
.CourtButton {
    -fx-background-color:#2d2c41 ;
    -fx-text-fill: #f1eeda;
    -fx-border-color: #2d2c41;
}
.CourtButton:hover{
    -fx-background-color: #742e46;
    -fx-text-fill: #f1eeda;
}
.CourtButton:pressed {
    -fx-background-color: #c8585d;
    -fx-text-fill: #f1eeda;

}
.menuButton{
    -fx-border-radius:  0 50 50 0;
    -fx-background-radius: 0 50 50 0;
    -fx-text-alignment: left;
}

.disponibleStyle{
    
    -fx-background-color: #742e46;
    -fx-text-fill:#f1eeda;
    -fx-font-size: 25px;
    -fx-alignment: CENTER;

}

.defaultReservasStyle {

    -fx-background-color: #2d2c41;
    
}

.ocupadoStyle{
    
    -fx-background-color: #6b8d7c;
    -fx-text-fill: #f1eeda;
    -fx-font-size: 25px;
    -fx-alignment: CENTER;
}


.horasStyle {
    
    -fx-font-size: 25px;
    -fx-alignment: CENTER;
    -fx-text-fill: #f1eeda;
    -fx-background-color:#2d2c41;
    
}
.reservasTable {
    -fx-background-color:#2d2c41;
    -fx-font-size: 20px;
    -fx-alignment: CENTER;    
}


-reservasTable:nth-child(odd) {
    -fx-background-color: #742e46;
    
    
}
.column-header {
    
    -fx-background-color: #2d2c41;
    
}
.title-text{
    
    -fx-font-size: 35px;
   
    
    
}
.label {
    
    -fx-text-fill: #f1eeda;
    
}

.reservaBut{
    
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-font-size: 20px;
    
    
}
.actualizarbutton {
    -fx-font-size:30px;
        

}

.date-picker .combo-box {
-fx-background-insets:0px ;
-fx-border-width: 0px;
  }

.date-picker .text-field{
-fx-background-radius:0px ;
-fx-border-color: transparent;
-fx-font-size: 15px;

}

.date-picker .arrow-button{
-fx-background-radius:0px ;
-fx-background-color: #2d2c41;
}

.date-picker .arrow-button .arrow{
-fx-background-radius:0px ;
-fx-background-color: #742e46;


}

.date-picker .arrow-button:hover .arrow{
-fx-background-radius:0px ;
-fx-background-color: #742e46;

 }

 .date-picker .button {
     
-fx-background-color: #742e46;
-fx-text-fill: #2d2c41;
-fx-border-color:transparent;
-fx-pref-height: 35px;
-fx-pref-width: 35px;
-fx-font-size:20px;
 }

 .date-picker .button:hover {
-fx-border-color:transparent;
-fx-pref-height: 35px;
-fx-pref-width: 35px;
 }

.date-picker .button .arrow:pressed {
-fx-border-color:transparent;
-fx-pref-height: 35px;
-fx-pref-width: 35px;
 }

 .date-picker .cell {
     -fx-text-fill: #f1eeda;
-fx-background-color: #2d2c41;
-fx-pref-width:40px ;
-fx-pref-height:30px ;
-fx-font-size:12px;

 }

.date-picker .cell:hover {
    
-fx-background-color: #742e46;
-fx-pref-width:30px ;
-fx-pref-height:30px ;
}

.date-picker .cell:focused {
-fx-background-color:#6b8d7c;
-fx-pref-width:30px ;
-fx-pref-height:30px ;
 }
